language: java

jdk:
  - oraclejdk8

before_script:
  - chmod +x gradlew
  - mkdir -p .gradle
  - echo "sonatypeUsername = foo\nsonatypePassword = bar" > .gradle/gradle.properties

script:
  - ./gradlew check
  - ./gradlew jacocoTestReport

after_success:
  - bash <(curl -s https://codecov.io/bash)