language: java

jdk:
  - oraclejdk8

before_install:
  - mkdir -p ~/.gradle

  # Write fake username and password into gradle.properties, so that gradle would not fail
  - echo -e "\nsonatypeUsername=foo\nsonatypePassword=bar" >> ~/.gradle/gradle.properties
  - cat ~/.gradle/gradle.properties

before_script:
  - chmod +x gradlew

install:
  - ./gradlew assemble -x signArchives

script:
  - ./gradlew check
  - ./gradlew jacocoTestReport

after_success:
  - bash <(curl -s https://codecov.io/bash)